<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICD0007 Näidisrakendus Maiko Metsalu</title>
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
<nav>
    <a href="?cmd=book-list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="?cmd=book-form" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="?cmd=author-list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="?cmd=author-form" id="author-form-link">Lisa autor</a>
</nav>
<main tpl-include="{{ $template }}"></main>

<footer>
    ICD0007 Näidisrakendus Maiko Metsalu
</footer>
</body>
</html>